body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid{
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
}